##################################################################
# review these variables, some that are site specific variables
# DJANGO_COUNTRY
# DJANGO_CUPS_SERVERS
# DJANGO_LANGUAGES
# DJANGO_RANDOMIZATION_LIST_FILE
# DJANGO_SITE_ID # (if not specifying DJANGO_TOWN)
# DJANGO_TIME_ZONE
# DJANGO_TOWN
##################################################################

# Keep in alphabetical order, please

AWS_ACCESS_KEY_ID=
AWS_ENABLED=True
AWS_LOCATION=ambition/static
AWS_S3_ENDPOINT_URL=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
# DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/ambition
DATABASE_URL=mysql://root:password@127.0.0.1:3306/ambition
DOCKER_DJANGO_CONTAINER_NAME=ambition_production
DOCKER_DB_CONTAINER_NAME=mysql
DOCKER_NGINX_CONTAINER_NAME=mysql
DJANGO_ALLOWED_HOSTS=develop.clinicedc.org,localhost,127.0.0.1
DJANGO_APP_NAME=ambition
DJANGO_CACHE=redis
DJANGO_COUNTRY=botswana
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_CUPS_SERVERS=bhp.printers.bhp.org.bw=bhp.printers.bhp.org.bw,localhost=None
DJANGO_DASHBOARD_BASE_TEMPLATES=listboard_base_template=ambition/base.html,dashboard_base_template=ambition/base.html,screening_listboard_template=ambition_dashboard/screening/listboard.html,subject_listboard_template=ambition_dashboard/subject/listboard.html,subject_dashboard_template=ambition_dashboard/subject/dashboard.html
DJANGO_DASHBOARD_URL_NAMES=subject_models_url=subject_models_url,subject_listboard_url=ambition_dashboard:subject_listboard_url,screening_listboard_url=ambition_dashboard:screening_listboard_url,subject_dashboard_url=ambition_dashboard:subject_dashboard_url
DJANGO_DEBUG=False
DJANGO_EMAIL_CONTACTS=ae_reports=user@example.com
DJANGO_ETC_FOLDER=/etc/ambition
DJANGO_EXPORT_FOLDER=/ambition/export
DJANGO_FQDN=clinicedc.org
DJANGO_HOLIDAY_FILE=holidays.csv
DJANGO_INDEX_PAGE=https://<name>.cliniced.org
DJANGO_KEY_FOLDER=/etc/ambition/live/crypto_fields
DJANGO_LABEL_TEMPLATE_FOLDER=
DJANGO_LAB_DASHBOARD_BASE_TEMPLATES=
DJANGO_LAB_DASHBOARD_REQUISITION_MODEL=ambition_subject.subjectrequisition
DJANGO_LAB_DASHBOARD_URL_NAMES=
DJANGO_LANGUAGES=af:Afrikaans,ny:Chichewa,en:English,xh:isiXhosa,lg:Luganda,rny:Runyankore,tn:Setswana,sn:Shona
DJANGO_LANGUAGE_CODE=en-us
DJANGO_LIVE_SYSTEM=True
DJANGO_LOGGING_FILE_LEVEL=INFO
DJANGO_LOGGING_SYSLOG_LEVEL=INFO
DJANGO_LOGIN_REDIRECT_URL=home_url
DJANGO_LOG_FOLDER=/home/ambition/log
DJANGO_MAIN_NAVBAR_NAME=
DJANGO_COLLECT_OFFLINE_FILES_REMOTE_HOST=
DJANGO_COLLECT_OFFLINE_FILES_USB_VOLUME=
DJANGO_COLLECT_OFFLINE_FILES_USER=
DJANGO_COLLECT_OFFLINE_SERVER_IP=
DJANGO_RANDOMIZATION_LIST_FILE=randomization_list.csv
DJANGO_REDIS_PASSWORD=
DJANGO_REVIEWER_SITE_ID=1
DJANGO_SECRET_KEY=hubbahubba
DJANGO_SECURE_PROXY_SSL_HEADER=(HTTP_X_FORWARDED_PROTO,https)
DJANGO_SESSION_COOKIE_SECURE=True
# DJANGO_SITE_ID=10
DJANGO_STATIC_ROOT=/static
DJANGO_STATIC_URL=/static/
DJANGO_TIME_ZONE=Africa/Gaborone
DJANGO_TOWN=gaborone
DJANGO_USE_I18N=True
DJANGO_USE_L10N=False
DJANGO_USE_TZ=True
MYSQL_DATABASE=ambition
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=root
# POSTGRES_DATABASE=ambition
# POSTGRES_PASSWORD=postgres
# POSTGRES_USER=postgres
# POSTGRES_ROOT_USER=postgres
SENTRY_KEY=
SENTRY_ACCOUNT_ID=