{% extends 'edc_base/base.html' %}

{% block main %}

  <div class="container">
 	<div class="col-md-12">
         <div class="panel panel-default">
		    <div class="alert alert-danger fade in">
		      <i class="fas fa-grimace fa-lg"></i> A server error has occured. No additional information is available.
		    </div>


		Please submit a ticket on <A href="http://redmine.clinicedc.org">Redmine</A>

		If you wish to contact support, contact information is on Redmine.

	</div>
  </div>
  <div class="container">

{% endblock main %}
